openapi: 3.0.3
info:
  title: API Sankhya
  description: >
    API de Integrações com Gateway Sankhya.


    Os endpoints aqui documentados estão todos baseados no EasyAPI, seguindo
    padrão Rest e documentação padrão OpenAPI/Swagger.


    Para utilizar todos os serviços, é necessário realizar o login conforme
    descrito na documentação.
  termsOfService: 'https://www.sankhya.com.br/'
  license:
    name: Licença Sankhya
    url: 'https://www.sankhya.com.br/'
  version: '1.0'
servers:
  - url: 'https://api.sankhya.com.br'
    description: Produção
  - url: 'https://api.sandbox.sankhya.com.br'
    description: Sandbox
externalDocs:
  description: Saiba mais sobre a API Sankhya
  url: >-
    https://developer.sankhya.com.br/reference/api-de-integra%C3%A7%C3%B5es-sankhya
security:
  - Bearer: []
tags:
  - name: Autenticação
    description: Fluxo de Autenticação para utilizar APIs Gateway da Sankhya
  - name: Cadastros Básicos
    description: Cadastros Básicos disponíveis no SankhyaOM
  - name: Clientes
    description: 'Cadastrar, atualizar e retornar clientes disponíveis no SankhyaOm'
  - name: Estoque
    description: Retorna estoque de produto existente no SankhyaOm
  - name: Financeiros Cadastros
    description: Breve descrição sobre o respectivo contexto
  - name: Financeiros Movimentos
    description: Breve descrição sobre o respectivo contexto
  - name: Fiscal
    description: Breve descrição sobre o respectivo contexto
  - name: HCM Cadastros
    description: Cadastros Básicos relacionados a Pessoal no SankhyaOm
  - name: HCM Funcionários
    description: Cadastros relacionados a Funcionários no SankhyaOm
  - name: HCM Integrações
    description: Endpoints destinados ao consumo das integrações HCM.
  - name: Logística
    description: >-
      Cadastros básicos relacionados a motorista, transportadora, ordens de
      carga, veículos, no Sankhya Om
  - name: Preços
    description: Breve descrição sobre o respectivo contexto
  - name: Produtos
    description: Cadastros Relacionados a Produtos
  - name: Vendas Pedidos
    description: Enviar Pedidos de Venda
  - name: Vendas CF-e/SAT
    description: Cupom Fiscal Eletrônico (CF-e/SAT)
  - name: Vendas NFC-e
    description: Nota Fiscal do Consumidor eletrônico (NFC-e)
  - name: Vendas Gestão de Caixa
    description: Gestão de Caixa (NFC-e e CF-e/SAT)
paths:
  /login:
    post:
      tags:
        - Autenticação
      summary: Autenticação com usuário e senha (fluxo legado)
      description: >
        Este serviço de login corresponde ao modelo de autenticação legado, que
        utiliza usuário, senha, appkey e token.


        Embora ainda esteja disponível para manter a compatibilidade com
        integrações existentes, ele foi substituído pelo novo fluxo OAuth 2.0,
        que oferece mais segurança e flexibilidade.


        **Recomendação**: Planeje a migração para o novo serviço `/authenticate`
        o quanto antes, garantindo que suas integrações estejam alinhadas ao
        padrão atual. O serviço `login` permanecerá disponível até
        **31/03/2026**, a partir desta data apenas o novo serviço estará
        disponível.


        Para utilizar o novo fluxo, basta criar um componente do tipo integração
        no Portal do Desenvolvedor. 


        [Clique aqui para ver como criar um novo componente de
        integração](https://developer.sankhya.com.br/docs/portal-do-desenvolvedor).


        **Fluxo recomendado:**

        1. Login (`/login`)

        2. Chamadas subsequentes usando o `bearerToken`

        3. Logout
        (`/gateway/v1/mge/service.sbr?serviceName=MobileLoginSP.logout`)


        - O `bearerToken` deve ser enviado no cabeçalho `Authorization` das
        chamadas subsequentes.

        - Sessão expira após 30 minutos de inatividade (configurável pelo
        parâmetro `INATSESSTIMEOUT`).

        - Recomenda-se sempre realizar **logout** ao final.


        Autentica o usuário no SankhyaOM utilizando **usuário, senha, appkey e
        token**.

        Retorna um `bearerToken` que deve ser utilizado em todas as requisições
        seguintes.
      parameters:
        - in: header
          name: token
          required: true
          schema:
            type: string
          description: Token obtido na tela **Configurações Gateway** do SankhyaOm.
          example: 8fedf240-ea7f-11ed-a05b-0242ac120003
        - in: header
          name: appkey
          required: true
          schema:
            type: string
          description: Chave da aplicação gerada na Área do Desenvolvedor.
          example: db654b42-ea7f-11ed-a05b-0242ac120003
        - in: header
          name: username
          required: true
          schema:
            type: string
          description: Usuário válido vinculado ao SankhyaID.
          example: user@dominio.com.br
        - in: header
          name: password
          required: true
          schema:
            type: string
            format: password
          description: Senha do usuário informado.
          example: MinhaSenhaSegura123
      responses:
        '200':
          description: Login realizado com sucesso
          content:
            application/json:
              schema:
                type: object
                properties:
                  bearerToken:
                    type: string
                    description: >-
                      Token de sessão a ser usado no cabeçalho `Authorization`
                      das chamadas subsequentes.
                    example: bearerToken_da_sessao_ativa_retorna_bem_aqui
                  error:
                    type: string
                    nullable: true
                    description: 'Informações de erro, se houver.'
                    example: null
        '401':
          description: 'Credenciais inválidas (usuário, senha, appkey ou token incorretos)'
        '500':
          description: Erro interno no servidor de autenticação
  /authenticate:
    post:
      tags:
        - Autenticação
      summary: Autenticação com OAuth 2.0 (Client Credentials)
      description: >
        Este serviço implementa o fluxo **OAuth 2.0 Client Credentials**, com
        uso adicional do cabeçalho `X-Token`. Ele substitui o modelo antigo
        baseado em **appkey + token** e oferece maior segurança e flexibilidade,
        permitindo autenticação em todo o ecossistema de softwares do Grupo
        Sankhya.


        [Clique aqui para ver como criar um novo componente de
        integração](https://developer.sankhya.com.br/docs/portal-do-desenvolvedor).


        Gera um access token JWT para autenticação em APIs do ecossistema
        Sankhya.

        É necessário enviar:

        - `client_id` e `client_secret` fornecidos na Área do Desenvolvedor

        - `X-Token` obtido na tela **Configurações Gateway** do Sankhya Om (ou
        de outros sistemas do grupo)
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
                - client_id
                - client_secret
                - grant_type
              properties:
                client_id:
                  type: string
                  description: >-
                    Identificador único da aplicação gerado na Área do
                    Desenvolvedor.
                  example: my-client-id-123
                client_secret:
                  type: string
                  description: Segredo da aplicação gerado na Área do Desenvolvedor.
                  example: my-client-secret-abc
                grant_type:
                  type: string
                  description: Tipo do fluxo OAuth 2.0.
                  enum:
                    - client_credentials
                  example: client_credentials
      parameters:
        - in: header
          name: X-Token
          required: true
          schema:
            type: string
          description: >-
            Token obtido na tela **Configurações Gateway** do Sankhya Om (ou de
            outros sistemas do Grupo Sankhya).
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9
      responses:
        '200':
          description: Token de acesso gerado com sucesso
          content:
            application/x-www-form-urlencoded:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    description: Token JWT a ser usado na autorização das APIs.
                    example: eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9
                  expires_in:
                    type: integer
                    description: Tempo de expiração do token em segundos.
                    example: 300
                  refresh_expires_in:
                    type: integer
                    description: >-
                      Tempo de expiração do refresh token em segundos.
                      Geralmente `0` se não for aplicável.
                    example: 0
                  token_type:
                    type: string
                    description: Tipo do token retornado.
                    example: Bearer
                  not-before-policy:
                    type: integer
                    description: Política de validação temporal do token.
                    example: 0
                  scope:
                    type: string
                    description: Escopos do token. Pode estar vazio.
                    example: ''
        '400':
          description: Requisição inválida (parâmetros ausentes ou incorretos)
        '401':
          description: 'Credenciais inválidas (client_id, client_secret ou X-Token inválido)'
        '500':
          description: Erro interno no servidor de autenticação
  /v1/vendas/cfe-sat:
    post:
      tags:
        - Vendas CF-e/SAT
      summary: Incluir Cupom Fiscal eletronico
      description: Inclui um Cupom Fiscal eletronico modelo 59 emitido em um PDV externo.
      operationId: addCfeSat
      requestBody:
        description: Inclui Cupom Fiscal eletrônico no SankhyaOm
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/movimento'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoMovimento'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:vendas/cfe-sat'
            - 'read:vendas/cfe-sat'
  /v1/vendas/cfe-sat/cancelar:
    post:
      tags:
        - Vendas CF-e/SAT
      summary: Cancela Cupom Fiscal eletronico
      description: Cancela um Cupom Fiscal eletronico modelo 59 emitido em um PDV externo.
      operationId: cancelaCfeSat
      requestBody:
        description: Inclui Cupom Fiscal eletrônico no SankhyaOm
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelaMovimentoFiscal'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoMovimento'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:vendas/cfe-sat/cancelar'
            - 'read:vendas/cfe-sat/cancelar'
  /v1/vendas/cfe-sat/inutilizar:
    post:
      tags:
        - Vendas CF-e/SAT
      summary: Inutiliza Numeração de Cupom Fiscal eletronico
      description: >-
        Inutiliza Numeração de Cupom Fiscal eletronico modelo 59 emitido em um
        PDV externo.
      operationId: inutilizaCfeSat
      requestBody:
        description: Inutiliza Numeração de Cupom Fiscal eletrônico no SankhyaOm
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inutilizaNumeracao'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoMovimento'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:vendas/cfe-sat/inutilizar'
            - 'read:vendas/cfe-sat/inutilizar'
  /v1/vendas/nfce:
    post:
      tags:
        - Vendas NFC-e
      summary: Incluir Nota Fiscal de Consumidor eletronico
      description: >-
        Inclui uma Nota Fiscal de Consumidor eletronico modelo 65 emitido em um
        PDV externo.
      operationId: addNfce
      requestBody:
        description: Inclui Nota Fiscal de Consumidor eletrônico no SankhyaOm
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/movimento'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoMovimento'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:vendas/nfce'
            - 'read:vendas/nfce'
  /v1/vendas/nfce/autorizar:
    post:
      tags:
        - Vendas NFC-e
      summary: Autoriza Nota Fiscal de Consumidor eletronico que está em contigência
      description: >-
        Autoriza um Nota Fiscal de Consumidor eletronico modelo 59 emitido em um
        PDV externo que está armazenado no SankhyaOm. É importante ressaltar que
        a NFC-e deve ter sido previamente emitida em modo contingência
        (tipoEmissao = 9).
      operationId: autorizaCfeSat
      requestBody:
        description: >-
          Autoriza Nota Fiscal de Consumidor eletronico que está em contigência
          no SankhyaOm
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/autorizarMovimento'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoMovimento'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:vendas/cfe-sat'
            - 'read:vendas/cfe-sat'
  /v1/vendas/nfce/cancelar:
    post:
      tags:
        - Vendas NFC-e
      summary: Cancela Nota Fiscal de Consumidor eletronico
      description: >-
        Cancela uma Nota Fiscal de Consumidor eletronico modelo 65 emitido em um
        PDV externo.
      operationId: cancelaNfce
      requestBody:
        description: Cancela Nota Fiscal de Consumidor eletrônico no SankhyaOm
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/cancelaMovimentoFiscal'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoMovimento'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:vendas/nfce/cancelar'
            - 'read:vendas/nfce/cancelar'
  /v1/vendas/nfce/inutilizar:
    post:
      tags:
        - Vendas NFC-e
      summary: Inutiliza Numeração de Nota Fiscal de Consumidor eletronico
      description: >-
        Inutiliza Numeração de Nota Fiscal de Consumidor eletronico modelo 65
        emitido em um PDV externo.
      operationId: inutilizaNfce
      requestBody:
        description: >-
          Inutiliza Numeração de Nota Fiscal de Consumidor eletrônico no
          SankhyaOm
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/inutilizaNumeracao'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoMovimento'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:vendas/nfce/inutilizar'
            - 'read:vendas/nfce/inutilizar'
  /v1/caixa/abertura:
    post:
      tags:
        - Vendas Gestão de Caixa
      summary: Registra a abertura do Caixa/PDV
      description: >-
        Este endpoint permite realizar a abertura de um Caixa/PDV no SankhyaOm.
        Para que o processo ocorra corretamente, o operador deve estar
        previamente vinculado ao cadastro do PDV no SankhyaOm. 


        É importante observar que o SankhyaOm não permite mais de um "Caixa
        Aberto" simultaneamente para o mesmo PDV, isso para garantir a
        integridade da operação.


        Ao abrir o Caixa/PDV, a API retornará o identificador codigoCaixa, que
        representa o "Caixa Aberto" para o período em questão. Esse codigoCaixa
        deve ser utilizado para realizar o fechamento do caixa e vincular todos
        os movimentos de venda ao respectivo "Caixa Aberto", garantindo a
        correta rastreabilidade das operações.
      operationId: addAbreCaixaPDV
      requestBody:
        description: Registra a abertura do Caixa/PDV.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/abrirCaixa'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoCaixaAberto'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:caixa/abertura'
            - 'read:caixa/abertura'
  /v1/caixa/aberto:
    get:
      tags:
        - Vendas Gestão de Caixa
      summary: Busca o codigoCaixa aberto para o Caixa/PDV e Operador.
      description: >-
        Retorna o codigoCaixa que está aberto para o critério enviado para
        consulta.
      operationId: getCaixaAberto
      parameters:
        - name: codigoPdv
          in: query
          description: >-
            Código do Caixa/PDV que está aberto. Esse código é acessível através
            da nossa API, na entidade "CadastroPDV" (codigoPdv). Obtenha essa
            informação mantenha seus registros sempre atualizados. Para saber
            mais, [clique
            aqui](https://developer.sankhya.com.br/reference/get_loadrecords)
          required: true
          schema:
            type: integer
            format: int64
            example: 45
        - name: cpfOperador
          in: query
          description: >-
            Insira o CPF do operador de Caixa/PDV para localizar o Operador do
            Caixa vinculado ao PDV. Com essa informação, a API identifica o
            operador responsável no PDV e o vincula ao movimento. Para mais
            detalhes sobre o cadastro de usuários, [clique
            aqui](https://ajuda.sankhya.com.br/hc/pt-br/articles/360044597874-Usu%C3%A1rios)
          required: true
          schema:
            type: integer
            format: int64
            example: 15948762310
      responses:
        '200':
          description: Operação com Sucesso
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoCaixaAberto'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:caixa/abertura'
            - 'read:caixa/abertura'
  /v1/caixa/fechamento:
    post:
      tags:
        - Vendas Gestão de Caixa
      summary: Registra o fechamento do Caixa/PDV
      description: >-
        Este serviço realiza o fechamento do Caixa/PDV que está aberto. Este
        processo permite enviar os valores transacionados no Caixa/PDV por "Tipo
        de Pagamento", isso irá apoiar no processo de Gestão de Caixa disponível
        no SankhyaOm.
      operationId: addFechaCaixaPDV
      requestBody:
        description: Registra o fechamento do Caixa/PDV.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/fecharCaixa'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoCaixaAberto'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:caixa/fechamento'
            - 'read:caixa/fechamento'
  /v1/caixa/sangria:
    post:
      tags:
        - Vendas Gestão de Caixa
      summary: Registra sangria para um Caixa/PDV
      description: Registra sagria para um Caixa/PDV.
      operationId: addSangriaCaixaPDV
      requestBody:
        description: Inclui um registro de sangria para um Caixa/PDV no SankhyaOm
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sangriaSuprimento'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoMovimento'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:caixa/sangria'
            - 'read:caixa/sangria'
  /v1/caixa/suprimento:
    post:
      tags:
        - Vendas Gestão de Caixa
      summary: Registra suprimento para um Caixa/PDV
      description: Registra suprimento para um Caixa/PDV.
      operationId: addSuprimentoCaixaPDV
      requestBody:
        description: Inclui um suprimento de Caixa/PDV no SankhyaOm
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/sangriaSuprimento'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoMovimento'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:caixa/suprimento'
            - 'read:caixa/suprimento'
  /v1/caixa/recebimento:
    post:
      tags:
        - Vendas Gestão de Caixa
      summary: Registra recebimento para um Caixa/PDV
      description: Registra recebimento para um Caixa/PDV.
      operationId: addRecebimentoCaixaPDVinc
      requestBody:
        description: >
          Inclui um recebimento realizado em um Caixa/PDV no SankhyaOm. Vale
          ressaltar que não será permitido a inclusão de um financeiro repetido
          e para isso o serviço irá considerar os seguintes atributos como
          únicos: codigoParceiro, dataVencimento, codigoTipoOperação,
          codigoNatureza, identificador, tipoPagamento e valorParcela.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/recebimentoIncluir'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoMovimento'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:caixa/recebimento'
            - 'read:caixa/recebimento'
  /v1/caixa/recebimento/baixa:
    post:
      tags:
        - Vendas Gestão de Caixa
      summary: Registra recebimento para um Caixa/PDV
      description: Registra recebimento para um Caixa/PDV.
      operationId: addRecebimentoCaixaPDVbaixa
      requestBody:
        description: Inclui um recebimento realizado em um Caixa/PDV no SankhyaOm
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/recebimentoBaixar'
        required: true
      responses:
        '200':
          description: Operação bem sucedida
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoMovimento'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:caixa/recebimento'
            - 'read:caixa/recebimento'
  '/v1/precos/produto/{codigoProduto}/tabela/{codigoTabela}':
    get:
      tags:
        - Preços
      summary: Obter preços vinculados a um produto e uma tabela de preço
      description: >-
        Este serviço retorna os preços do produto enviado no contexto e que
        estão associados à tabela de preços enviada no contexto. Pode haver mais
        de um preço, pois o produto pode ter volume alternativo, variação de
        preço por local de armazenamento e também preço variado por controle
        (ex.: sabor, cor, tamanho, etc.). Este serviço retorna até 50 registros
        por página.
      operationId: getPrecoProdutoTabela
      parameters:
        - name: codigoProduto
          in: path
          description: >-
            Informe neste atributo o "código do produto" disponível no
            SankhyaOm. Esse código é facilmente acessível através da nossa API,
            na entidade "Produto" (CODPROD). Para saber mais, [clique
            aqui](https://developer.sankhya.com.br/reference/get_loadrecords)
          required: true
          schema:
            type: integer
            format: int64
            example: 4599
        - name: codigoTabela
          in: path
          description: >-
            Informe neste atributo o "código da tabela de preços" disponível no
            SankhyaOm. Esse código é facilmente acessível através da nossa API,
            na entidade "TabelaPreco" (CODTAB). Para saber mais, [clique
            aqui](https://developer.sankhya.com.br/reference/get_loadrecords)
          required: true
          schema:
            type: integer
            format: int64
            example: 10
        - name: page
          in: query
          description: >-
            Número da página para consulta. Cada página retorna até 50
            registros.
          required: true
          schema:
            type: integer
            format: int64
            example: 1
      responses:
        '200':
          description: >-
            Operação bem sucedida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoPrecosProdutoTabela'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:/v1/precos/produto/tabela'
            - 'read:/v1/precos/produto/tabela'
  '/v1/precos/produto/{codigoProduto}':
    get:
      tags:
        - Preços
      summary: Obter preços vinculados a um produto independente da tabela de preço
      description: >-
        Este serviço retorna os preços do produto enviado no contexto, bem como
        as tabelas de preços nele relacionado. Vale ressaltar que cada produto x
        tabela de preços pode possuir mais de um preço, pois o produto pode ter
        volume alternativo, variação de preço por local de armazenamento e
        também preço variado por controle (ex.: sabor, cor, tamanho, etc.). Este
        serviço retorna até 50 registros por página.
      operationId: getPrecoProduto
      parameters:
        - name: codigoProduto
          in: path
          description: >-
            Informe neste atributo o "código do produto" disponível no
            SankhyaOm. Esse código é facilmente acessível através da nossa API,
            na entidade "Produto" (CODPROD). Para saber mais, [clique
            aqui](https://developer.sankhya.com.br/reference/get_loadrecords)
          required: true
          schema:
            type: integer
            format: int64
            example: 4599
        - name: page
          in: query
          description: >-
            Número da página para consulta. Cada página retorna até 50
            registros.
          required: true
          schema:
            type: integer
            format: int64
            example: 1
      responses:
        '200':
          description: >-
            Operação bem sucedida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoPrecosProdutoTabela'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:/v1/precos/produto'
            - 'read:/v1/precos/produto'
  '/v1/precos/tabela/{codigoTabela}':
    get:
      tags:
        - Preços
      summary: Obter preços vinculados a um produto e uma tabela de preço
      description: >-
        Este serviço retorna os preços de todos os produtos vinculados à tabela
        de preços enviada no contexto. Vale ressaltar que cada produto x tabela
        de preços pode possuir mais de um preço, pois o produto pode ter volume
        alternativo, variação de preço por local de armazenamento e também preço
        variado por controle (ex.: sabor, cor, tamanho, etc.). Este serviço
        retorna até 50 registros por página.
      operationId: getPrecoTabela
      parameters:
        - name: codigoTabela
          in: path
          description: >-
            Informe neste atributo o "código da tabela de preços" disponível no
            SankhyaOm. Esse código é facilmente acessível através da nossa API,
            na entidade "TabelaPreco" (CODTAB). Para saber mais, [clique
            aqui](https://developer.sankhya.com.br/reference/get_loadrecords)
          required: true
          schema:
            type: integer
            format: int64
            example: 10
        - name: page
          in: query
          description: >-
            Número da página para consulta. Cada página retorna até 50
            registros.
          required: true
          schema:
            type: integer
            format: int64
            example: 1
      responses:
        '200':
          description: >-
            Operação bem sucedida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoPrecosProdutoTabela'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:/v1/precos/tabela'
            - 'read:/v1/precos/tabela'
  /v1/precos/contextualizado:
    post:
      tags:
        - Preços
      summary: Obter preços de produtos de forma contextualizada
      description: >-
        Este serviço retorna os preços dos produtos de forma contextualizada,
        levando em conta as condições específicas de uma negociação. O preço
        pode variar com base em diversos fatores, como forma de pagamento,
        localização do cliente, vendedor responsável pela negociação, entre
        outros. A consulta permite até 50 produtos por solicitação.
      operationId: getPrecoContexto
      requestBody:
        description: Obter preços de produtos de forma contextualizada
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/produtoPrecosContextoPost'
        required: true
      responses:
        '200':
          description: >-
            Operação bem sucedida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retornoPreco'
        '400':
          description: >-
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno400'
        '401':
          description: >-
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >-
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >-
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >-
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >-
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >-
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >-
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >-
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:/v1/precos/contextualizado'
            - 'read:/v1/precos/contextualizado'
  /v1/funcionarios/admissao:
    post:
      deprecated: true
      summary: Criar uma nova requisição de admissão
      tags:
        - HCM Cadastros
      description: >
        Este endpoint permite o registro de uma nova requisição de admissão,
        incluindo informações detalhadas sobre o trabalhador, seu cargo,
        categoria, dados contratuais e cadastrais.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequisicaoAdmissao'
      responses:
        '200':
          description: Requisição de Admissão criada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequisicaoAdmissaoResponse'
        '400':
          description: >
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Requisicao_de_Admissaoretorno400'
        '401':
          description: >
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
      security:
        - Bearer:
            - 'write:Requisição de admissão'
            - 'read:Requisição de admissão'
  '/v1/funcionarios/admissao/{codigoRequisicaoAdmissao}':
    get:
      deprecated: true
      summary: Buscar detalhes de uma requisição de admissão
      tags:
        - HCM Cadastros
      description: >-
        Este endpoint permite buscar os detalhes de uma requisição de admissão
        existente.
      parameters:
        - name: codigoRequisicaoAdmissao
          in: path
          required: true
          description: 'ID da requisição de admissão, retornado na criação da mesma'
          schema:
            type: integer
      responses:
        '200':
          description: Detalhes da Requisição de Admissão.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequisicaoAdmissaoGet'
        '404':
          description: Requisição de Admissão não encontrada.
        '500':
          description: Erro interno do servidor.
  /v2/funcionarios/admissao:
    post:
      summary: Criar uma nova requisição de admissão
      tags:
        - HCM Cadastros
      description: >-
        Este endpoint permite o registro de uma nova requisição de admissão,
        incluindo informações detalhadas sobre o trabalhador, seu cargo,
        categoria, dados contratuais e cadastrais. 

         Versão mínima do módulo pessoal: **5.26.0**
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequisicaoAdmissaoV2'
      responses:
        '200':
          description: Requisição de Admissão criada com sucesso.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequisicaoAdmissaoResponse'
        '400':
          description: >
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Requisicao_de_Admissaoretorno400'
        '401':
          description: >
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno404'
        '500':
          description: >
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '502':
          description: >
            Retorno inválido do servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '503':
          description: >
            Serviço indisponível no momento. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '504':
          description: >
            Tempo de execução excedido. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
  '/v2/funcionarios/admissao/{codigoRequisicaoAdmissao}':
    get:
      summary: Buscar detalhes de uma requisição de admissão
      tags:
        - HCM Cadastros
      description: >-
        Este endpoint permite buscar os detalhes de uma requisição de admissão
        existente. 

         Versão mínima do módulo pessoal: **5.26.0**
      parameters:
        - name: codigoRequisicaoAdmissao
          in: path
          required: true
          description: Código da Requisição de Admissão.
          schema:
            type: string
            example: '123'
      responses:
        '200':
          description: Detalhes da Requisição de Admissão.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequisicaoAdmissaoGet'
        '404':
          description: Requisição de Admissão não encontrada.
        '500':
          description: Erro interno do servidor.
  /v1/fiscal/servicos-tomados/nfse:
    post:
      tags:
        - Fiscal
      summary: Importar Nota Fiscal de Serviço
      description: >
        Disponível a partir da versão 4.32 do SankhyaOm, a API de Importação de
        Notas Fiscais de Serviços Tomados foi projetada para simplificar e
        automatizar o processo de importação de notas fiscais emitidas por
        fornecedores. Essa integração permite que empresas importem de forma
        eficiente e segura os dados fiscais diretamente para seus sistemas de
        gestão, eliminando a necessidade de inserção manual e reduzindo erros
        humanos.

        - Benefícios de utilizar a API estão na eficiência operacional, redução
        de erros, conformidade legal, integração flexivel e escalabilidade.

        - Para evitar a duplicidade na escrituração de documentos, o serviço
        utiliza uma chave única composta pelos seguintes elementos: CNPJ do
        Prestador, Número da Nota, Número do RPS, Série da Nota e data de
        emissão. Essa chave única garante que cada documento fiscal seja
        registrado apenas uma vez, prevenindo inconsistências e duplicações.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NFSe'
      responses:
        '200':
          description: >
            Operação bem sucedida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImportacaoResposta'
        '400':
          description: >
            Informações Inválidas. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Requisicao_de_Servicos_Tomadosretorno400'
        '401':
          description: >
            Não autenticado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '403':
          description: >
            Autenticação inválida. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '404':
          description: >
            Dados não encontrados. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Requisicao_de_Servicos_Tomadosretorno404'
        '500':
          description: >
            Erro interno no servidor. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/retorno40X_50X'
        '501':
          description: >
            Não implementado. Clique
            [aqui](https://developer.sankhya.com.br/reference/c%C3%B3digos-de-retorno-da-api)
            para mais detalhes.
          content:
[...]
